# Archivo de configuración de red para {{ inventory_hostname }}

source /etc/network/interfaces.d/*

# La interfaz loopback
auto lo
iface lo inet loopback

# Cambiar segun nombre de interfaces
auto enp0s1
iface enp0s1 inet static
    address {{ static_ip }}
    netmask 255.255.255.0
    gateway {{ gateway }}
    dns-nameservers {{ dns_server }}
